<div class="container">
<!-- Basic html form, uses onRegisterSubmit, and link fields to values-->
<form [@stagger] (submit)="onRegisterSubmit()">
  <div [@fade]>
    <h2 class="page-header">Register</h2>
  </div>
  <div [@fade] class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>
  <div [@fade] class="form-group">
    <label>Username</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control">
  </div>
  <div [@fade] class="form-group">
    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control">
  </div>
  <div [@fade]><input type="submit" class="btn btn-info" value="Submit"> </div>

</form>
</div>
