<div id="popUpBox">
  <h2 mat-dialog-title>{{data.Title}} ({{data.Year}})</h2>
  <hr>
  <div mat-dialog-content>
    <p><span class="infoType">Genre:</span> <span class="infoDetails">{{data.Genre}}</span></p>
    <p><span class="infoType">Director:</span> <span class="infoDetails">{{data.Director}}</span></p>
    <p><span class="infoType">Actors:</span> <span class="infoDetails">{{data.Actors}}</span></p>
    <p><span class="infoType">Plot:</span> <span class="infoDetails">{{data.Description}}</span></p>
  </div>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button class="btn btn-outline-secondary" (click)="onCloseCancel()"><mat-icon class="playIcon">cancel</mat-icon></button>
    <button mat-raised-button [hidden]="!showButton" [ngClass]="{ 'btn btn-info': isFavorite, 'btn btn-outline-secondary': !isFavorite  }"  (click)="onFavorite()"><mat-icon id="favIcon" class="playIcon">star</mat-icon></button>
    <button id="logInToFavorite" class="btn btn-outline-secondary" (click)="onCloseCancel()" [routerLink]="['/login']" [hidden] = "showButton">Please log in to favorite a movie</button>

  </mat-dialog-actions>
</div>
