<div id="popUpBox">
  <h1 mat-dialog-title>{{data.Title}} ({{data.Year}})</h1>
  <hr>
  <div mat-dialog-content>
    <p><span class="info">Genre:</span> <span>{{data.Genre}}</span></p>
    <p><span class="info">Director:</span> <span >{{data.Director}}</span></p>
    <p><span class="info">Actors:</span> <span >{{data.Actors}}</span></p>
    <p><span class="info">Runtime:</span> <span >{{data['Runtime (Minutes)']}} Minutes</span></p>

    <p><span class="info">Description:</span> <span>{{data.Description}}</span></p>
  </div>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button class="btn btn-outline-secondary" (click)="onCloseCancel()"><mat-icon class="playIcon">cancel</mat-icon></button>
    <button mat-raised-button [hidden]="!showButton" [ngClass]="{ 'btn btn-info': isFavorite, 'btn btn-outline-secondary': !isFavorite  }"  (click)="onFavorite()"><mat-icon id="favIcon" class="playIcon">star</mat-icon></button>
    <button id="logInToFavorite" class="btn btn-outline-secondary" (click)="onCloseCancel()" [routerLink]="['/login']" [hidden] = "showButton">Please log in to favorite a movie</button>

  </mat-dialog-actions>
</div>
