<div class="container">
<h2 class="page-header">Login</h2>
<form [@stagger] (submit)="onLoginSubmit()">
  <div [@fade] class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="username" name="username">
  </div>
  <div [@fade] class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" name = "password">
  </div>
  <div [@fade]><input type="submit" class="btn btn-info" value="Login"></div>
</form>
</div>
