@import "../../../bootstrap.min.css";
.page-header{
  color: white;
  font-size: 3em;
  font-weight:400;
}
.username {
  font-size: small;
  color: white;
  text-align: right;
  padding-right: 2%;
}
.favs{
  color: white;
  font-size: 2em;
}

.favorites{
  color: white;
  font-size: 1.5em;
  padding: 1%;
}
.favorites:hover{
  text-shadow: 1px 2px #000 ;
  color: #5bc0de;
}
img{
  padding-bottom: 5px;
}

.disabled, .disabled:hover {
  color:grey !important;
}

.icon{
  margin-right: 0.5em;
}

.col {
  width:33%;
  display:inline-block;
  padding:40px 0;
  color:gray;
}
