
  <div *ngIf="user">
    <h2 class="page-header"><h2 class="username">Username: {{user.username}}<img src="../../assets/pineapplesimple.png" height="20px"></h2>Welcome {{user.name}} </h2>

 <!--   <div class="alert alert-dismissible alert-info" id="profileAlert">
      <span class="close" data-dismiss="alert">&times;</span>
      <strong>Hey there!</strong> <br>
      This is your profile page. Your recent searches will appear here. Enjoy AMDB!
    </div>-->
    <br><br>
    <h2 class="favs">Your favorites:</h2>
    <div class="favbox">
      <div *ngFor="let favorite of favorites">
        <h3 class="favorites" (click)="showInfo(favorite)">{{favorite}}</h3>
      </div>
    </div>

  </div>
