
  <div *ngIf="user">
    <h2 class="page-header">Welcome {{user.name}}</h2>

    <div [hidden]="!showProfileInfo" class="alert alert-dismissible alert-info">
      <strong>Hey there!</strong> <br> Welcome to your profile page. This page holds your personal information, as well as any
      movies you favorite. <br> To see more information about a movie, click on it in the list. You can also unfavorite a movie,
      by clicking the favorite button again.
      <br><br> This alert will dismiss once you favorite a movie. Head over to the
      movie page to start favoriting. <br> Cheers! <br>
      The AMDB Team
    </div>

    <ul class="list-group">
      <li class="list-group-item">Username: {{user.username}}</li>
    </ul>

    <div>
      <div *ngFor="let favorite of favorites">
        <h3 (click)="showInfo(favorite)">{{favorite}}</h3>
      </div>
    </div>

  </div>
