<div class="container">
  <div *ngIf="user">
    <h2 class="page-header"><h2 class="username">Username: {{user.username}}<img src="../../assets/pineapplesimple.png" height="20px"></h2>Welcome {{user.name}} </h2>


    <div [hidden]="!showProfileInfo" class="alert alert-dismissible alert-info" id="profileAlert">
      <strong>Hey there!</strong> <br> Welcome to your profile page. This page holds your personal information, as well as any
      movies you favorite. <br> To see more information about a movie, click on it in the list. You can also unfavorite a movie,
      by clicking the favorite button again.
      <br><br> This alert will dismiss once you favorite a movie. Head over to the
      Movies page to start favoriting. <br> Cheers! <br>
      The AMDB Team
    </div>
          <br><br>
    <div class="favbox">
      <table class="table table-striped table-hover" style="color: white; font-size: 1.5em">
        <tr>
          <th class="diabled"><mat-icon matListIcon class="icon">star</mat-icon>Your favorites</th>
        </tr>
        <br>
          <div [@stagger]>
             <tr [@fade] *ngFor="let favorite of favorites" (click)="showInfo(favorite)">

               <td><mat-icon matListIcon class="icon">movie</mat-icon>{{favorite}}</td>
             </tr>
          </div>
      </table>
    </div>

    <div @explainerAnim>
      <div class="col">
        <p>Did you remember your popcorn?</p>
      </div>
    </div>

  </div>
</div>
