<div id="popUpBox">
  <h2 mat-dialog-title>{{data.Title}} ({{data.Year}})</h2>
  <hr>
  <div mat-dialog-content>
    <p><span class="infoType">Genre:</span> <span class="infoDetails">{{data.Genre}}</span></p>
    <p><span class="infoType">Director:</span> <span class="infoDetails">{{data.Director}}</span></p>
    <p><span class="infoType">Actors:</span> <span class="infoDetails">{{data.Actors}}</span></p>
    <p><span class="infoType">Plot:</span> <span class="infoDetails">{{data.Description}}</span></p>
  </div>
  <hr>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onCloseCancel()"><i mat-icon class="playIcon">cancel</i></button>
    <button mat-raised-button (click)="onfavorite()"><i mat-icon class="playIcon">star</i></button>
  </div>
</div>
